<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!-- des properties sont à la disposition de l'utilisateur pour avoir un dynamisme sur la config
	exemple 
	<property name="proxyport">8080</property>
	<proxy url="http://my.free.proxy.com:{proxyport}"/>
	-->
	<property name="test">pouet</property>
	<!-- declaration des proxy
	     un proxy au hasard sera utilisé parmis cette liste
		 pour NE PAS utiliser de proxy, supprimez tous les noeuds <proxy/>
		<proxy url="http://127.0.0.1:8080"/>
		<proxy url="http://my.free.proxy.com:8080"/>
	-->
	<cookie name="test"/>

	<scrapper name="Auchan">
		<cookie name="lark-journey" value="f1cb5fe9-359e-4840-86ad-c64ab77e657f" path="/" domain="www.auchan.fr"/>
		<list loop="page:1:1">
			<web method="get" url="https://www.auchan.fr/vins-bieres-alcool/bieres-futs-cidres/ca-n071201?page={page}"/>
			<select query=".list__container .list__item" to="bieres">
				<select query=".product-thumbnail__description" single="true">
					<text regex="(.*) (?=[0-9]+(?>[,\.][0-9]+)?%)" regexgroup="1" trim="true" htmldecode="true" to="name"/>
					<text regex="([0-9]+(?>[,\.][0-9]+)?%)" regexgroup="1" trim="true" htmldecode="true" to="degree">
						<replace pattern="%" by=""/>
						<replace pattern="\." by=","/>
					</text>
					<select query="strong[itemprop=&quot;brand&quot;]" single="true">
						<text to="brand" trim="true" htmldecode="true"/>
					</select>
				</select>
				<select query=".product-price" single="true">
					<text trim="true" htmldecode="true" to="price">
						<replace pattern="\." by=","/>
						<replace pattern="€" by=""/>
					</text>
				</select>
				<select query=".product-thumbnail__attributes .product-attribute" single="true">
					<text regex="([0-9]+)x" regexgroup="1" trim="true" htmldecode="true" to="quantite" empty="1"/>
					<text regex="([0-9]+)c?cl" regexgroup="1" trim="true" htmldecode="true" to="volume"/>
				</select>
			</select>
		</list>
	</scrapper>
</root>